@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="bg-dark" id="layoutAuthentication">
    <div id="layoutAuthentication_content" class="d-flex align-items-center">
        <div class="container-fluid">         
            <div class="row justify-content-center">
                <div class="col-lg-5">
                   
                    <div class="card shadow-lg mt-5" style="border-radius:20px">

                       
                        <div class="card-body p-5">
                            <row>
                                <div class="text-center">
                                    <img class="mt-4 img-fluid" src="~/assets/img/Bug_out.svg" width="300" />                                  
                                </div>
                            </row>
                            <row>
                                <div class="text-center"><a href="https://murilobarbosa.dev/"><small>murilobarbosa.dev</small></a></div>
                            </row>                                                      
                            <div><h1 class="text-center font-weight-light my-4">Welcome!</h1></div>
                            <div><h4 class="text-center font-weight-light my-4">BugOut Bug Tracker Landing Page</h4></div>
                            <form>                           
                                <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                                    <a class="btn text-light w-100" style="background-color:#204463" asp-area="Identity" asp-page="/Account/Login"><strong>Try it now!</strong></a>
                                </div>
                            </form>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Murilo Barbosa 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>