@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="" id="layoutAuthentication">
    <div id="layoutAuthentication_content" class="d-flex align-items-center">
        <div class="row d-flex justify-content-center">
            <div class="col d-flex align-self-center">
                <div class="card shadow-lg m-5" style="border-radius:20px">
                    <div class="card-body p-5">
                        <row>
                            <div class="text-center">
                                <img class="mt-4 img-fluid" src="~/assets/img/Bug_out.svg" width="300" />
                            </div>
                        </row>
                        <row>
                            <div class="text-center"><a href="https://murilobarbosa.dev/"><small>murilobarbosa.dev</small></a></div>
                        </row>
                        <div><h1 class="text-center font-weight-light my-4">Welcome!</h1></div>
                        <div><h4 class="text-center font-weight-light my-4">BugOut Bug Tracker Landing Page</h4></div>
                        <form>
                            <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                                <a class="btn text-light w-100" style="background-color:#204463" asp-area="Identity" asp-page="/Account/LoginDemo"><strong>Try it now!</strong></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

