@model BugOut.Models.ViewModels.AddProjectWithPMViewModel
@using BugOut.Models.Enums

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />

<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row row-cols-1 row-cols-md-2">

                <div class="col p-2">
                    <div class="form-group">
                        <label asp-for="Project.Name" class="control-label"></label>
                        <input asp-for="Project.Name" class="form-control" />
                        <span asp-validation-for="Project.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.Description" class="control-label"></label>
                        <textarea asp-for="Project.Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Project.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Project.StartDate" class="control-label"></label>
                        <input asp-for="Project.StartDate" class="form-control" />
                        <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.EndDate" class="control-label"></label>
                        <input asp-for="Project.EndDate" class="form-control" />
                        <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                    </div>

                    <div class="input-group mt-2">
                        <label asp-for="Project.ProjectPriorityId" class="input-group-text">Priority</label>
                        <select asp-for="Project.ProjectPriorityId" class="form-select" asp-items="@Model.PriorityList"></select>
                    </div>

                    @* PM SelectList *@

                    @if (User.IsInRole(Roles.Admin.ToString()))
                    {
                        <div class="input-group mt-2">
                            <label class="input-group-text">Project Manager</label>
                            <select asp-for="PMId" class="form-select" asp-items="@Model.PMList">
                                <option></option>
                            </select>
                        </div>

                    }
                </div>

                <div class="col">

                    @* Image Capture *@

                    <div class="form-group">
                        <label class="control-label">Project Image</label>
                        <input asp-for="Project.ImageFormFile" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif"
                               onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="Project.ImageFormFile" class="text-danger"></span>
                    </div>
                    <label>Image Preview</label>

                    @if (Model.Project?.ImageFileData != null)
                    {
                        <img id="imageFileData" class="img-fluid img-thumbnail" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))" />

                    }
                    else
                    {
                        <img id="imageFileData" class=" img-fluid img-thumbnail" src="~/assets/img/default_project_image.jpg" style="height:auto;width:100%;" />

                    }

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary w-100 mt-2" />
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
